<p>admin-operation works!</p>
<div>{{username}}</div>
<button (click)="logout()">Logout</button>

<p>Opérations de modification, suppression et insertion</p>

<app-consultation #consultation></app-consultation>
<br>
<button 
    (click)="addM()"
    [disabled]="!this.consultation.selectedLieuId">
    Ajouter un monument et ses célébrités dans ce commune
</button>
<button 
    (click)="modifyM()" 
    [disabled]="!this.consultation.selectedMonumentId">
    Modifier ce monument et ses célébrités 
</button>
<button 
    (click)="deleteM()"
    [disabled]="!this.consultation.selectedMonumentId">
    Supprimer ce monument et ses célébrités
</button>
