<p>Calcule distance entre monuments</p>

<h4>Choisir un monument</h4>
<mat-form-field appearance="fill">
  <mat-label>Monument</mat-label>
  <mat-select [formControl]="monumentControl">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of monumentGroups" [label]="group.lieu_nom">
      <mat-option *ngFor="let monument of group.monuments" [value]="monument.monument_id">
        {{monument.nom}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

<h4>Choisir un autre monument</h4>
<mat-form-field appearance="fill">
  <mat-label>Monument</mat-label>
  <mat-select [formControl]="monumentControl">
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of monumentGroups" [label]="group.lieu_nom">
      <mat-option *ngFor="let monument of group.monuments" [value]="monument.monument_id">
        {{monument.nom}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>